:root {
  --primary-color: rgb(22, 197, 203);
  --text-color: rgba(0, 0, 0, 1);
  --secondary-text: rgba(89, 89, 89, 1);
  --bg-color: #fff;
  --font-family: "Figtree", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family);
  color: var(--text-color);
  background: var(--bg-color);
  line-height: 1.5;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.navbar {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.mobile-only{
  display: none;
}
.nav-icon{
  display:none;
}
.nav-links a.contact{
  display: none;
}
.logo {
  display: flex;
  gap: 10px;
}
.logo-img{
  height: 58px;
  width: 72px;
  margin-right: 8px;
}
.nav-links {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 50px;
}
.gtq{
    display: flex;
    justify-content: flex-end;
}
.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
.btn-primary, .btn-secondary {
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.btn-primary {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: var(--bg-color);
  box-shadow:  0 0 10px var(--primary-color);
}
.btn-secondary {
  background: var(--primary-color);
  color: #fff;
  box-shadow:  0 0 10px var(--primary-color);
}